@media (min-width: 300px) and (max-width: 575px) {
  .container {
    width: 75%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 50%;
  }
}

html{
  height: 100%;
}

#grad {
  background: linear-gradient(180deg, #D0CFFF 0%, #9ECAF3 100%);
  mix-blend-mode: normal;
  width: 100%;
  height: 100%
}

#standard-container {
  margin: auto;
  margin-top: 50px;
  background: var(--bs-white);
  height: 100%;
  padding: 50px 100px 100px 50px;
}

#standard-row {
  padding-right: 0px;
  padding-top: 0px;
  width: 100%;
  margin: auto;
}

#calcola {
  background: #D0CFFF;
  color: var(--bs-black);
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
  width: 100%;
}

#inputs {
  width: 100%;
  background: var(--bs-border-color-translucent);
  margin-bottom: 10px;
}

#obbligatorio {
  color: red;
}

input[type=number] {
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
}