@media (min-width: 300px) and (max-width: 575px) {
  .container {
    width: 75%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 50%;
  }
}

#grad {
  background: hsla(177, 59%, 53%, 1);

  background: radial-gradient(circle, hsla(177, 59%, 53%, 1) 0%, hsla(177, 59%, 58%, 1) 0%, hsla(176, 59%, 94%, 1) 79%, hsla(0, 0%, 100%, 1) 100%);

  background: -moz-radial-gradient(circle, hsla(177, 59%, 53%, 1) 0%, hsla(177, 59%, 58%, 1) 0%, hsla(176, 59%, 94%, 1) 79%, hsla(0, 0%, 100%, 1) 100%);

  background: -webkit-radial-gradient(circle, hsla(177, 59%, 53%, 1) 0%, hsla(177, 59%, 58%, 1) 0%, hsla(176, 59%, 94%, 1) 79%, hsla(0, 0%, 100%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3FCEC7", endColorstr="#56D4CE", GradientType=1 );
}
